<div class="topbar d-flex align-items-center justify-content-between px-3 px-lg-4">

        <!-- MOBILE MENU BUTTON -->
        <button
            class="btn btn-light d-lg-none"
            id="openSidebar"
        >
            <i class="bi bi-list fs-4"></i>
        </button>

        <div>
            <h5 class="fw-bold mb-0" id="tb-title">
                Loading...
            </h5>
        </div>

        <div class="dropdown">

            <button
                class="btn btn-light rounded-circle"
                data-bs-toggle="dropdown"
            >
                <i class="bi bi-person-circle fs-4"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">

                <li>
                    <a class="dropdown-item" href="#">
                        Profile
                    </a>
                </li>

                <li>
                    <a class="dropdown-item text-danger" href="#">
                        Logout
                    </a>
                </li>

            </ul>

        </div>

    </div>